@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(#C70039, #FFA07A);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100vh;
}

.header img{
    width: 150px;
    border-radius: 50%;
    background: linear-gradient(130deg, rgb(68, 0, 255), rgb(213, 228, 10));
    padding: 5px;
}

.texto{
    color: #f2f2f2;
    letter-spacing: 3px;
    padding: 5px 0 15px 0;
    font-weight: 500;
}

.item{
    height: 55px;
}

.item a{
    width: 400px;
    height: 55px;
    border: 2px solid white;
    margin-top: 10px;
    line-height: 55px;
    color: white;
    letter-spacing: 1px;
    font-family: 'Roboto Condensed', sans-serif;
    display: block;
    text-decoration: none;
}  

.item:hover{
    background: linear-gradient(coral, crimson);
}

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}

.footer img{
    width: 35px;
    margin-right: 5px;
}

.footer h3{
    font-size: 20px;
    font-weight: 500;
}

@media screen and (max-width:410px){
    .header img{
        width: 150px;
        border-radius: 50%;
    }

    .texto{
        font-size: 15px;
    }

    .item a{
        width: 300px;
        font-size: 15px;
    }

    .footer h3{
        font-size: 15px;
    }
    
}